*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html , body{
    font-family: 'poppins';
    overflow-x: hidden;
}
.container {
    max-width: 2000px;  /* Limite máximo de largura */
    margin: 0 auto;     /* Centraliza a div */
    /* Opcional, para adicionar espaçamento interno */
}
.decore-img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}
#decore{
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 1;
}
.img-traveller{
    overflow-x: hidden;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 10;
    padding: 2rem 350px;  
    top: 0;
    width: 100%; 
}
header .nav-bar{
    display: flex;
    align-items: center;
    gap: 4rem;
}
header ul{
    list-style: none;
}
header ul a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.container-banner{
    display: flex;
    padding: 4rem 350px; 
    position: absolute;
    top: 10%;
    z-index: 10;
}
article h2{
    font-weight: "bold";
    color: #DF6951;
    font-size: 20px;
}

.title-container{
    padding:2rem 0;
    width: 545px;
}

.title-container h1{
    font-size: "bold";
    color: #181E4B;
    font-size: 84px;
    font-family: "Volkhov";
    line-height: 5rem;
    text-align: start;

}
.title-container span{
    text-decoration: underline #DF6951;
}
article p{
    font-size: 16px;
    font-weight: 400;
    color: #5E6282;
}
button{
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 8px;
    background-color: #DF6951;
    color: white;
    border: none;
    cursor: pointer;
    transition:ease-in-out 0.5s;
}

button:hover{
    background-color: #B73319;
}
article{
    max-width: 500px;
}